<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.spring.Repository.RegisterRepository">
    <insert id="userRegister" parameterType="com.project.spring.VO.MemberVO">
        insert into USER_INFO (
                               USER_ID,
                               NICK_NAME,
                               USER_PW,
                               USER_EMAIL,
                               USER_EMAIL_CHECK,
                               USER_PROFILE,
                               REGDATE,
                               ACCT_BAN,
                               USER_NAME
            ) values
                                (#{userid},
                                 #{nickName},
                                 #{userPw},
                                 #{userEmail},
                                 'N',
                                 'temp',
                                 now(),
                                 'N',
                                 #{userName}
            )
    </insert>
</mapper>

