<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/signUp.css"/>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form name="signUp" th:action="saveUser" th:object="${memberVO}" method="POST" class="joinForm">

    <h2>회원가입</h2>
    <div class="textForm">
        <input name="loginId" th:field="*{userId}" type="text" class="id" placeholder="아이디">
    </div>
    <div class="textForm">
        <input name="loginPw" th:field="*{userPw}" type="password" class="pw" placeholder="비밀번호">
    </div>
    <div class="textForm">
        <input name="loginPwConfirm" th:field="*{regPwConf}" type="password" class="pw" placeholder="비밀번호 확인">
    </div>
    <div class="textForm">
        <input name="userName" th:field="*{userName}" type="text" class="name" placeholder="이름">
    </div>
    <div class="textForm">
        <input name="email" th:field="*{userEmail}" type="text" class="email" placeholder="이메일">
    </div>
    <div class="textForm">
        <input name="nickName" th:field="*{nickName}" type="text" class="nickname" placeholder="닉네임">
    </div>
<!--    <div class="textForm">-->
<!--        <input name="phoneNumber" type="number" class="cellphoneNo" placeholder="전화번호">-->
<!--    </div>-->
    <input type="submit" class="btn" value="J O I N"/>
</form>

</body>
</html>